# --Content: Executáveis e arquivos de build/saída--
[Bb]bin/
[Oo]obj/
[Ll]log/
[Ll]logs/
build/
out/

# --Content: Arquivos de usuário/configurações do IDE--
.vs/
.idea/
*.user
*.userosscache
*.sln.docstates
*.suo
